<div class="container" id="container">

  <div class="form-container sign-in-container">
        <form [formGroup]="registerForm " (ngSubmit)=" onSubmit()" >
          <h1>Rejestracja</h1>

          <input type="text" placeholder="Imię" name="name"
                 formControlName="name"
                 required
                 minlength="3"
                 maxlength="30"
                 />
          <input type="text" placeholder="Nazwisko" name="surname"
                 formControlName="surname"
                 required
                 minlength="3"
                 maxlength="30"
                 />
          <input type="email" placeholder="Email" name="email"
                 formControlName="email"
                 required
                 minlength="3"
                 maxlength="50"
          />
          <input type="password" placeholder="Hasło" name="password"
                 formControlName="password"
                 required
                 minlength="3"
                 maxlength="40"
                 />
          <p></p>
          <button type="submit">Zarejestruj się</button>
        </form>
  </div>

</div>
