<mat-stepper #stepper   class="drivercreator">
  <mat-step >
    <form [formGroup]="driverForm"  (ngSubmit)="onSubmit()">
      <ng-template  matStepLabel>Dane pojazdu</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Nazwa</mat-label>
        <input matInput placeholder="Nazwa" formControlName="name" required>
      </mat-form-field>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Numer VIN</mat-label>
          <input matInput placeholder="Numer VIN" formControlName="vin" required>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Numer rejestracyjny</mat-label>
          <input matInput placeholder="Numer rejestracyjny" formControlName="registration" required>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Przebieg</mat-label>
          <input matInput placeholder="Przebieg" formControlName="mileage" type="number">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label> Ładowność</mat-label>
          <input matInput placeholder="Ładowność" formControlName="loadCapacity" type="number" >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label> Pojemność silnika</mat-label>
          <input matInput placeholder="Pojemność silnika" formControlName="engineCapacity" type="number">
        </mat-form-field>
      </p>

      <div style="margin-top: 2vh">
        <button mat-raised-button color="primary"  (click)="reset()" >resetuj</button>
        <button mat-raised-button color="primary" type="submit" style="margin-left: 3vh">dodaj</button>

      </div>
    </form>
    <div style="margin-top: 2vh">
<!--      <button mat-raised-button color="primary"  (click)="reset()">resetuj</button>-->

<!--      <button mat-raised-button color="primary"  style="margin-left: 2vh">dalej</button>-->
    </div>

  </mat-step>




</mat-stepper>
