
.mat-input-element {
  color: slategray;
}
.mat-form-field-label {
  color: slategray;
}
.mat-form-field-underline {
  background-color: slategray;
}
.mat-form-field-ripple {
  background-color: slategray;
}
.mat-form-field-required-marker {
  color: slategray;
}

p { margin:0 }

mat-card{
  height: 250px;
  width: 250px;
  margin: 1vh;


}
.example-card {

  margin-bottom: 50px;
  float: left;
}

.img-continer{

  margin-left:  60vh;
  margin-top: 5vh;

}

.demo-table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: #3f51b5;
  border-width: 2px;
  background-color: #4b5fcc;
}

.demo-row-is-clicked {
  font-weight: bold;
}
