<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Wyznacz trasę</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Nazwa Trasy</mat-label>
        <input matInput placeholder="Nazwa trasy" formControlName="nazwa" required>
      </mat-form-field>

      <p>
      <mat-form-field appearance="fill">
        <mat-label>Lokacja początkowa</mat-label>
        <input matInput placeholder="Lokacja początkowa" formControlName="start" required>
      </mat-form-field>
      </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Lokacja docelowa</mat-label>
        <input matInput placeholder="Lokacja docelowa" formControlName="end" required>
      </mat-form-field>
    </p>

<p>

    <mat-label>Wybierz kolor trasy:</mat-label>
    <ngx-colors ngx-colors-trigger  id="color" name="color" formControlName="color"></ngx-colors>

</p>


      <div style="margin-top: 2vh">
        <button mat-raised-button color="primary" type="submit">resetuj</button>

        <button mat-raised-button color="primary" type="submit" style="margin-left: 2vh">dalej</button>

      </div>
    </form>
    <app-creator-map></app-creator-map>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Wybierz kierowce</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Wybierz kierowce</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="kierowca"
               required>
      </mat-form-field>
      <table mat-table [dataSource]="dataSource"
             class="mat-elevation-z8 demo-table ">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
            No.
          </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Imie Nazwisko
          </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by driverLicenc">
            Prawojazdy
          </th>
          <td mat-cell *matCellDef="let element"> {{element.driverLicenc}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by additionalPermissions">
            Dodatkowe uprawnienia
          </th>
          <td mat-cell *matCellDef="let element"> <img src="assets/uprawnienia/MW1.3.png" style="width: 32px;height: 32px">
            <img src="assets/uprawnienia/GP2.0.png" style="width: 32px;height: 32px">
            <img src="assets/uprawnienia/GN2.0.jpg" style="width: 32px;height: 32px">
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
<!--      <div>-->
<!--        <button mat-button matStepperPrevious>Back</button>-->
<!--        <button mat-button matStepperNext>Next</button>-->
<!--      </div>-->
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Wybierz rodzaj pojazu</ng-template>

    <div class="img-continer">

      <div class="example-card">
    <mat-card appMaterialElevation [defaultElevation]="defaultElevation"  matTooltip="smaochód osobowy" matTooltipPosition="above">

        <img mat-card-image src="assets/car.png" alt="smaochód osobowy">
    </mat-card>

      <mat-card appMaterialElevation [defaultElevation]="defaultElevation" matTooltip="smaochód dostawczy" matTooltipPosition="above">
        <img mat-card-image src="assets/truck.png" alt="smaochód dostawczy" >
      </mat-card>
      </div>
      <div class="example-card">
      <mat-card appMaterialElevation [defaultElevation]="defaultElevation" >
        <img mat-card-image src="assets/truck2.png" alt="ciężarówka powyżej 3.5tony" matTooltip="ciężarówka" matTooltipPosition="above">
      </mat-card>
      <mat-card appMaterialElevation [defaultElevation]="defaultElevation" matTooltip="tir" matTooltipPosition="above">
        <img mat-card-image src="assets/truck3.png" alt="tir">
      </mat-card>
      </div>
    </div>
<!--    <div>-->
<!--      <button mat-button matStepperPrevious>Back</button>-->
<!--      <button mat-button (click)="stepper.reset()">Reset</button>-->
<!--    </div>-->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Wybierz pojazd</ng-template>

    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Wybierz pojazd</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Wybierz pojazd</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="pojazd"
               required>
      </mat-form-field>
      <!--      <div>-->
      <!--        <button mat-button matStepperPrevious>Back</button>-->
      <!--        <button mat-button matStepperNext>Next</button>-->
      <!--      </div>-->
    </form>
    <!--    <div>-->
    <!--      <button mat-button matStepperPrevious>Back</button>-->
    <!--      <button mat-button (click)="stepper.reset()">Reset</button>-->
    <!--    </div>-->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Wybierz ładunek</ng-template>

    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Wybierz ładunek</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Wybierz ładunek</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="ładunek"
               required>
      </mat-form-field>
      <!--      <div>-->
      <!--        <button mat-button matStepperPrevious>Back</button>-->
      <!--        <button mat-button matStepperNext>Next</button>-->
      <!--      </div>-->
    </form>
    <!--    <div>-->
    <!--      <button mat-button matStepperPrevious>Back</button>-->
    <!--      <button mat-button (click)="stepper.reset()">Reset</button>-->
    <!--    </div>-->
  </mat-step>

</mat-stepper>
