
<div class="table">

  <section>

    <div class="example-flex-container">

      <div>
        <a href="vehicleInspectionCreator" >
          <button mat-fab style="background-color: var(--right-color);color: black" aria-label="add">
            add
            <!--            <svg aria-hidden="true"-->
            <!--                 focusable="false"-->
            <!--                 data-prefix="fad"-->
            <!--                 data-icon="plus"-->
            <!--                 role="img"-->
            <!--                 xmlns="http://www.w3.org/2000/svg"-->
            <!--                 viewBox="0 0 448 512"-->
            <!--                 class="svg-inline&#45;&#45;fa fa-plus fa-w-14 fa-5x">-->
            <!--              <g class="fa-group">-->
            <!--              <path fill="currentColor"-->
            <!--                    class="fa-secondary"-->
            <!--                d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/>-->
            <!--              <path fill="currentColor"-->
            <!--                    class="fa-primary"-->
            <!--                d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/>-->
            <!--              </g>-->
            <!--            </svg>-->

          </button>
        </a>
        <button mat-fab style="background-color: var(--right-color)" aria-label="">
          filter
        </button>
      </div>

    </div>

  </section>
  <p></p>
  <mat-divider></mat-divider>

  <table mat-table [dataSource]="vehicleinspections"
         class="mat-elevation-z8 demo-table ">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
        No.
      </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nazwa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nazwa">
        Nazwa warsztatu
      </th>
      <td mat-cell *matCellDef="let element"> {{element.carRepairShopName}} </td>
    </ng-container>


<!--    <ng-container matColumnDef="date">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">-->
<!--        Data-->
<!--      </th>-->
<!--&lt;!&ndash;      <td mat-cell *matCellDef="let element"> {{element.data}} </td>&ndash;&gt;-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="waznosc">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rejestracja">-->
<!--        Do kiedy ważny-->
<!--      </th>-->
<!--&lt;!&ndash;      <td mat-cell *matCellDef="let element"> {{element.registrationNumber}} </td>&ndash;&gt;-->
<!--    </ng-container>-->

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description">
        Opis
      </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="performedBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by performedBy">
        Kto wykonał
      </th>
      <td mat-cell *matCellDef="let element"> {{element.performedBy}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator  #paginator
                  [length]="length"
                  [pageIndex]="pageIndex"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  (page)="pageEvent = getServerData($event)">
  </mat-paginator>
</div>

