<div id="modal-content-wrapper">
  <header id="modal-header">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
         class="exit"
         id="lightIcon"
         aria-hidden="true"
         focusable="false"
         data-prefix="fad"
         data-icon="moon-stars"
         role="img" (click)="closeModal()">
      <g class="fa-group">
        <path d="M0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256zM175 208.1L222.1 255.1L175 303C165.7 312.4 165.7 327.6 175 336.1C184.4 346.3 199.6 346.3 208.1 336.1L255.1 289.9L303 336.1C312.4 346.3 327.6 346.3 336.1 336.1C346.3 327.6 346.3 312.4 336.1 303L289.9 255.1L336.1 208.1C346.3 199.6 346.3 184.4 336.1 175C327.6 165.7 312.4 165.7 303 175L255.1 222.1L208.1 175C199.6 165.7 184.4 165.7 175 175C165.7 184.4 165.7 199.6 175 208.1V208.1z"/>
      </g>
    </svg>

    <h1 id="modal-title" style="margin-top: -5vh">{{cargoData.name }}  </h1>
  </header>
  <section id="modal-body">

    <form [formGroup]="cargoDeatils"  (ngSubmit)="onSubmit()">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Nazwa</mat-label>
        <input matInput type="text"  formControlName="name">
        <button *ngIf="cargoData.name" matSuffix mat-icon-button aria-label="Clear" (click)="cargoData.name=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Opis</mat-label>
        <input matInput type="text"  formControlName="description">
        <button *ngIf="cargoData.description" matSuffix mat-icon-button aria-label="Clear" (click)="cargoData.description=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <p></p>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Typ</mat-label>
        <input matInput type="text"  formControlName="type">
        <button *ngIf="cargoData.type" matSuffix mat-icon-button aria-label="Clear" (click)="cargoData.type=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Podatność</mat-label>
        <input matInput type="text"  formControlName="sensitivity">
        <button *ngIf="cargoData.sensitivity" matSuffix mat-icon-button aria-label="Clear" (click)="cargoData.sensitivity=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <p></p>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Specjalne wytyczne</mat-label>
        <input matInput type="text"  formControlName="specialRemarks">
        <button *ngIf="cargoData.specialRemarks" matSuffix mat-icon-button aria-label="Clear" (click)="cargoData.specialRemarks=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Waga</mat-label>
        <input matInput type="number"  formControlName="weight">
        <button *ngIf="cargoData.weight" matSuffix mat-icon-button aria-label="Clear" (click)="cargoData.weight=0">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <p></p>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Szerokość</mat-label>
        <input matInput type="number"  formControlName="width">
        <button *ngIf="cargoData.width" matSuffix mat-icon-button aria-label="Clear" (click)="cargoData.width=0">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Wysokość</mat-label>
        <input matInput type="number"  formControlName="height">
        <button *ngIf="cargoData.height" matSuffix mat-icon-button aria-label="Clear" (click)="cargoData.height=0">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <p></p>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Głębokość</mat-label>
        <input matInput type="number"  formControlName="depth">
        <button *ngIf="cargoData.depth" matSuffix mat-icon-button aria-label="Clear" (click)="cargoData.depth=0">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <p></p>


      <button mat-raised-button color="primary" style="margin-left: 68vh" type="submit" >zapisz</button>

    </form>


  </section>
  <footer id="modal-footer">



  </footer>
</div>

