<mat-stepper #stepper class="vehicleinspectioncreator">
  <mat-step >

    <ng-template matStepLabel>Wybierz pojazd</ng-template>
    <mat-form-field appearance="fill">
      <mat-label>Szukaj</mat-label>
      <input matInput placeholder="Szukaj"  (input)="search($event)"  >
    </mat-form-field>


    <table mat-table [dataSource]="vehicles"
           class="mat-elevation-z8 demo-table " >

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
          No.
        </th>
        <td mat-cell *matCellDef="let element" > {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nazwa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nazwa" >
          Nazwa
        </th>
        <td mat-cell *matCellDef="let element" > {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="vin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by vin">
          Numer VIN
        </th>
        <td mat-cell *matCellDef="let element" > {{element.vin}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="rejestracja">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rejestracja">
          Numer Rejestracyjny
        </th>
        <td mat-cell *matCellDef="let element" > {{element.registrationNumber}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="vehicleColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: vehicleColumns;" (click)="clickedRow.clear();clickedRow.add(row)" (click)="onRawClick(row) "
          [class.demo-row-is-clicked]="clickedRow.has(row)"></tr>
    </table>
    <mat-paginator  #paginator
                    [length]="length"
                    [pageIndex]="pageIndex"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    (page)="pageEvent = getServerData($event)">
    </mat-paginator>

    <div style="margin-top: 2vh">

      <button mat-raised-button color="primary"  style="margin-left: 2vh">dalej</button>
    </div>

  </mat-step>


  <mat-step >
    <form [formGroup]="vehicleInspectionForm"  (ngSubmit)="onSubmit()">
      <ng-template matStepLabel>Dane przeglądu</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Nazwa warztawtu</mat-label>
        <input matInput placeholder="Nazwa warsztatu" formControlName="carRepairShopName" required>
      </mat-form-field>

      <p>
<!--        <mat-form-field appearance="fill">-->
<!--          <mat-label>Data wykonania</mat-label>-->
<!--          <input matInput placeholder="Data wykonania" formControlName="dataWykonania" required>-->
<!--        </mat-form-field>-->
        <mat-form-field color="primary" appearance="fill">
          <mat-label>Data wykonania</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" >

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>
      <p>
<!--        <mat-form-field appearance="fill">-->
<!--          <mat-label>Ważność przeglądu</mat-label>-->
<!--          <input matInput placeholder="Ważność przeglądu"  required>-->
<!--        </mat-form-field>-->
        <mat-form-field color="primary" appearance="fill">
          <mat-label>Ważność przeglądu</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="validityOfTheVehicleInspection" >

          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Opis</mat-label>
          <input matInput placeholder="Opis" formControlName="description"  required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Wykonany przez</mat-label>
          <input matInput placeholder="Wykonany przez" formControlName="performedBy" required>
        </mat-form-field>
      </p>
      <button mat-raised-button color="primary" type="submit" >dodaj</button>

    </form>
    <div style="margin-top: 2vh">
      <button mat-raised-button color="primary" >resetuj</button>

      <button mat-raised-button color="primary"  style="margin-left: 2vh">dalej</button>
    </div>

  </mat-step>
  <mat-step >
    Dodać tabel z podsumowaniem
    <ng-template matStepLabel>Podsumowanie</ng-template>

    <div style="margin-top: 2vh">
      <button mat-raised-button color="primary" >wróć</button>

      <button mat-raised-button color="primary"  style="margin-left: 2vh">zapisz</button>
    </div>

  </mat-step>


</mat-stepper>
