/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;background-color: #FFFFFF;
  color:black;

}

mat-dialog-container#modal-component {
  border: 3px solid #262626;
  border-radius: 11px;
  background-color: #1a1a1a;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #f2b200;
}
main{
  margin-left:5rem;
  padding: 1rem;

}

.navbar{

  width: 5rem;
  height: 100vh;
  position:fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  z-index: 1;
  top:0;

}

.navbar-nav{
  list-style:none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction:column;
  align-items: center;
  height: 100%;
}

.nav-item{
  width: 100%;
}
.nav-item:last-child{
  margin-top: auto;
}
.nav-link{
  display: flex;
  algin-items:center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}
.nav-link:hover{
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color:var(--text-secondary);
}

.link-text{
  display: none;
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.nav-link svg{
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.navbar:hover{
  width: 16rem;
}
.navbar:hover .link-text{

  display: inline;
}

.fa-primary{
  color:#f0d27f;
}

.fa-secondary
{
  color:#f2b200;
}


.fa-primary,
.fa-secondary{
  transition: var(--transition-speed);
}

.logo{
  font-weight: bold;
  text-transform: uppercase;
  text-align:center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}
.logo svg{
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}
.navbar:hover .logo svg{
  transform: rotate(-180deg);
  margin-left: 11rem;
}
.navbar:hover .logo-text
{
  left: 0px;
}
.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;

}

/*!* Style dla ekranów poniże 600 px*!*/
/*@media only screen and (max-width: 600px){*/

/*}*/
/*!* Style dla ekranów powyżej 600 px*!*/

/*@media only screen and (min-width: 600px) {*/
/*.navbar{*/
/*  top:0;*/
/*  width: 5rem;*/
/*  height: 100vh;*/
/*  .navbar:hover{*/
/*    */
/*  }*/
/*}*/

:root{
  font-size:16px;
  --text-primary:#b6b6b6;
  --text-secondary:#ececec;
  --bg-primary:#23232e;
  --bg-secondary:#141418;
  --transition-speed: 600ms;
  --form-height:550px;
  --form-width: 900px;
  --left-color: #1f1f1f;
  --right-color: #f2b200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #b6b6b6;
    --background: #ececec;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #1f1f1f;
    --background: #000000;
  }
}
.dark {
  --text-color: #b6b6b6;
  --background: #ececec;
}

.light {
  --text-color: #1f1f1f;
  --background: #000000;
}

.solar {
  --text-color: #576e75;
  --background: #fdf6e3;
}

/* Tryb dzień noc*/


/*.dark {*/
/*  --text-primary: #b6b6b6;*/
/*  --text-secondary: #ececec;*/
/*  --bg-primary: #23232e;*/
/*  --bg-secondary: #141418;*/
/*}*/

/*.light {*/
/*  --text-primary: #1f1f1f;*/
/*  --text-secondary: #000000;*/
/*  --bg-primary: #ffffff;*/
/*  --bg-secondary: #e4e4e4;*/
/*}*/

/*.solar {*/
/*  --text-primary: #576e75;*/
/*  --text-secondary: #35535c;*/
/*  --bg-primary: #fdf6e3;*/
/*  --bg-secondary: #f5e5b8;*/
/*}*/

/*.theme-icon {*/
/*  display: none;*/
/*}*/

/*.dark #darkIcon {*/
/*  display: block;*/
/*}*/

/*.light #lightIcon {*/
/*  display: block;*/
/*}*/

/*.solar #solarIcon {*/
/*  display: block;*/
/*}*/
